// Basic color definitions
$base-color: #333;
$base-gradient: 'matte';
$active-color: #36B8FF;
 
// Toolbar styles
$toolbar-base-color: #444;
 
// List styles
$list-header-bg-color : #ABE2FF;
 
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
